<ul class="icons">
  {% if site.social.twitter %}
    <li><a href="{{ site.social.twitter }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
  {% endif %}
  {% if site.social.facebook %}
    <li><a href="{{ site.social.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
  {% endif %}
  {% if site.social.instagram %}
    <li><a href="{{ site.social.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
  {% endif %}
  {% if site.social.github %}
    <li><a href="{{ site.social.github }}" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
  {% endif %}
</ul>
